.services-title {
    @extend %title;
    color: var(--main-color);
    line-height: 1.87;
    margin-bottom: 87px;
}
.contact-us-text {
    @extend %title;
    color: #FFF;
    line-height: normal;
    margin-bottom: 114px;
}